/* .active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #FFFB00;
    box-shadow: 0 0 0 1px #FFFB00;
  }
  .active-cyan-3 input[type=text] {
    border: 1px solid #FFFB00;
    box-shadow: 0 0 0 1px #FFFB00;
  } */

.site-buttons
{
  background-color: #ff6666;
  color: black;
  border-color: #ff6666;
  font-size: 17px;
}

.site-buttons:hover
{
  background-color: #ff6666;
  color: black;
  font-size: 17px;
  border-color: #ff6666;
}

.site-buttons:active
{
  background-color: #ff6666;
  color: black;
  font-size: 17px;
  border-color: #ff6666;
}

.fa
{
  color:black;
}

a
{
  color: black;
}

.anchors
{
  text-decoration: none;
}

.anchors:hover
{
  color: black;
}