{% extends 'base.html' %}

{% block content %}
<div class="row" style="padding-top: 100px;">
    <div class="col-md-9">
            <a href="/candidate/login" class="btn btn-social btn-google">
                <span class="fa fa-google"></span> Sign in with Google
            </a>
    </div>
    <div class="col-md-3">
        <h5>Featured Skills</h5>
          <ul class="list-group" style="background-color: transparent;">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <button type="button" class="btn btn-primary" style="background-color:#FFFB00; border-color: #FFFB00;">
                <a href="?q=python" style="color: black">python</a>
              </button>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <button type="button" class="btn btn-primary" style="background-color:#FFFB00; border-color: #FFFB00;">
                <a href="?q=data science" style="color: black">data science</a>
              </button>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <button type="button" class="btn btn-primary" style="background-color:#FFFB00; border-color: #FFFB00;">
                <a href="?q=machine learning" style="color: black">machine learning</a>
              </button>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <button type="button" class="btn btn-primary" style="background-color:#FFFB00; border-color: #FFFB00;">
                <a href="?q=nlp" style="color: black">nlp</a>
              </button>
            </li>
          </ul>
          <br>
    </div>
</div>
{% endblock content %}